.info {
    border-style:solid;
    border-width:2px;
    border-color:green;
}

h3
{
    text-align:center;
    background-color:grey;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}

.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}

.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: pink;
}